# Anthony Edward Stark
## Anthony Edward Stark
### Anthony Edward Stark
#### Anthony Edward Stark
##### Anthony Edward Stark

## Python programming
- point 1
  - point 11
- point 2
  - point 12
- I'm good at what I do, it's not arrogance, it's a fact.
* **Tony**
* *Tony*
* ***Tony***

<img src='Tony.jpeg'/>

In [2]:
print('hello world')
print('hello, gitam')
print('hello gitam','|||',end=' ')
print('vizag')

hello world
hello, gitam
hello gitam ||| vizag

In [15]:
##DataTypes
s = 100
print(s)
print( type(s))
a= 'String'
b= 'a'
print(a)
print(type(a))
print(type (b))
c= 1230.323
print(c)
print(type(c))

100
<class 'int'>
String
<class 'str'>
<class 'str'>
1230.323
<class 'float'>

In [19]:
##Datatypeconversions
a=211
print (a, end=' ')
print( type(a))
s1=str(a)
print(a,end=' ')
print(type(s1))
t=121.1
s3=int(t)
s4=str(t)
print(s3)
print(s4)
print(type(s3))
print(type(s4))

211 <class 'int'>
211 <class 'str'>
121
121.1
<class 'int'>
<class 'str'>

In [21]:
##printing value of digits
a=1234
print(len(str(a)))

4

In [25]:
##input function
s1= input('enter the name')
print(s1, end='')
print(type(s))

enter the nameyo
yo<class 'int'>

In [27]:
a1=int(input('enter a number'))
print(a1, type(a1))

enter a number2
2 <class 'int'>

In [34]:
##operators
a= 1+2**3/4+5
print(a)
b= 1+2**3/(4+5)
print(int(b))

8.0
1

In [38]:
##logical operators
a=10
b=(a>9) and (a>=b)
print(b, type(b))
c= (a>9) or (a>100)
print(c, type(c))

True <class 'bool'>
True <class 'bool'>

In [40]:
a1= int(input(' '))
if a1%2==0:
    print('even')
else:
    print('odd')

 2
even

In [41]:
#elif statement
a2= int(input(' '))
if a2==0:
    print('zero')
elif a2>0:
    print('positive number')
elif a2<0:
    print('negative number')

 5
positive number